@{
   
}
<h2 style="color:white; margin-top:25px">MasterChef FIAP</h2>


<p style="color:white; margin-top:15px">Internacionalmente conhecido pelos sofisticados pratos, o MasterChef FIAP foi inaugurado em 09 de outubro de 2017 na cidade de São Paulo.
Mesmo com um cardápio variado de massas, carnes, saladas, seu sucesso surgiu dos pratos baseados em frutos do mar, elaborados pelo proprietário e chefe autodidata Tiago Castro, contando com mais 4 funcionários, Novaes(Gestorzão), Marlon(Chefe de cozinha), Dvanir(Cozinheiro), Diego(Faxineiro) que cria todos os pratos oferecidos na casa.
O bem estar do cliente, sua satisfação e a qualidade dos serviços são os focos do Restaurante. Pensando assim, o Restaurante abrirá sua nova sede em abril de 2018 na Rua Augusta, oferecendo ao público um ambiente totalmente climatizado, com estacionamento próprio, rampa de acesso a deficientes físicos, cave de vinhos e uma cozinha moderna e dentro das normas de qualidade.</p>
