@{
    ViewData["Title"] = "Home Page";
}

<div class="slider-relative">
    <div class="slider-block">
        <div class="slider">
            <ul class="items">
                <li><img src="~/images/slide.jpg" alt=""></li>
                <li><img src="~/images/slide1.jpg" alt=""></li>
                <li class="mb0"><img src="~/images/slide2.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="container_12">
       
        
        <div class="grid_12">
            <div class="car_wrap"><br />
                <h2>Destaques</h2><br />
                <a href="#" class="prev"></a><a href="#" class="next"></a>
                <ul class="carousel1">
                    <li>
                        <div>
                            <img src="~/images/page1_img1.jpg" alt="">
                            <div class="col1 upp"> <a href="#">Lorem ipsum doamet consectet</a></div>
                            <span> Dorem ipsum dolor amet consectetur</span>
                            <div class="price">45$</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="~/images/page1_img2.jpg" alt="">
                            <div class="col1 upp"> <a href="#">Lorem ipsum doamet consectet</a></div>
                            <span> Dorem ipsum dolor amet consectetur</span>
                            <div class="price">45$</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="~/images/page1_img3.jpg" alt="">
                            <div class="col1 upp"> <a href="#">Lorem ipsum doamet consectet</a></div>
                            <span> Dorem ipsum dolor amet consectetur</span>
                            <div class="price">45$</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="~/images/page1_img4.jpg" alt="">
                            <div class="col1 upp"> <a href="#">Lorem ipsum doamet consectet</a></div>
                            <span> Dorem ipsum dolor amet consectetur</span>
                            <div class="price">45$</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="~/images/page1_img3.jpg" alt="">
                            <div class="col1 upp"> <a href="#">Lorem ipsum doamet consectet</a></div>
                            <span> Dorem ipsum dolor amet consectetur</span>
                            <div class="price">45$</div>
                        </div>
                    </li>
                </ul>
            </div><br /><br /><br />
        </div><br /><br /><br />
        <div class="clear"></div>
       
        <div class="clear"></div>
    </div>
</div>
    
<div class="row">
    
</div>
