@model Fiap.MasterChefe.Aplicacao.ViewModels.ReceitaViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h2>Novo</h2>

    <h4>ReceitaViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TempodePreparo" class="control-label"></label>
                    <input asp-for="TempodePreparo" class="form-control" />
                    <span asp-validation-for="TempodePreparo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rendimento" class="control-label"></label>
                    <input asp-for="Rendimento" class="form-control" />
                    <span asp-validation-for="Rendimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ingrediente" class="control-label"></label>
                    <textarea asp-for="Ingrediente" class="form-control" rows="6"> </textarea>
                    <span asp-validation-for="Ingrediente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModoDePreparo" class="control-label"></label>
                    <textarea asp-for="ModoDePreparo" class="form-control" rows="6"> </textarea>
                    <span asp-validation-for="ModoDePreparo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
